{% macro admin_actions() %}
<li class="nav-item dropdown me-2">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="accionesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Acciones
  </button>
  <ul class="dropdown-menu" aria-labelledby="accionesDropdown">
    <li><a class="dropdown-item" href="{{ url_for('main.agregar_empleado') }}">Agregar nuevo empleado</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.nueva_propiedad') }}">Agregar nueva propiedad</a></li>
    <li><a class="dropdown-item" href="/ver-propiedades">Ver propiedades</a></li>
    <li><a class="dropdown-item" href="/ver-encargados">Ver encargados</a></li>
    <li><a class="dropdown-item" href="/ver-administradores">Ver administradores</a></li>
  </ul>
</li>
{% endmacro %} 