{% macro encargado_actions() %}
<li class="nav-item dropdown me-2">
  <button class="btn btn-outline-light dropdown-toggle" type="button" id="accionesDropdown" data-bs-toggle="dropdown" aria-expanded="false">
    Acciones
  </button>
  <ul class="dropdown-menu" aria-labelledby="accionesDropdown">
    <li><a class="dropdown-item" href="{{ url_for('main.ver_propiedades') }}">Ver mis propiedades</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.ver_mis_chats_encargado') }}">Ver mis chats</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.clientes_calificables') }}">Calificaciones pendientes</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.calificaciones_editables_clientes') }}">Calificaciones editables/eliminables</a></li>
    <li><a class="dropdown-item" href="{{ url_for('main.check_outs_pendientes') }}">Check-out pendientes</a></li>
  </ul>
</li>
{% endmacro %} 